composer.lock
.vscode
\.idea
node_modules
sites/*/settings.php
sites/default/files/*
sites/default/settings.php
sites/default/files/css
sites/default/files/styles
sites/default/files/dynamicjs
sites/default/files/js
sites/default/files/tmp
sites/default/files/php/
sites/default/files/translations
sites/default/files/languages
*\.DS_Store
*.DS_Store
sites/*/settings.php
*/development.services.yml
example.gitignore
sites/example.sites.php
sites/example.settings.local.php
sites/default/default.settings.php
themes/README.txt
sites/README.txt
modules/README.txt
sites/default/default.settings.php
sites/default/settings.local.php
/web/sites/default/files/*