composer.lock
.vscode
\.idea
node_modules
web/sites/*/settings.php
web/sites/default/files/*
web/sites/default/settings.php
web/sites/default/files/css
web/sites/default/files/styles
web/sites/default/files/dynamicjs
web/sites/default/files/js
web/sites/default/files/tmp
web/sites/default/files/php/
web/sites/default/files/translations
web/sites/default/files/languages
*\.DS_Store
*.DS_Store
web/sites/*/settings.php
*/development.services.yml
example.gitignore
web/sites/example.sites.php
web/sites/example.settings.local.php
web/sites/default/default.settings.php
web/themes/README.txt
web/sites/README.txt
web/modules/README.txt
web/sites/default/default.settings.php
web/sites/default/settings.local.php
web/sites/default/files/*