{% set image_uri = row._entity.field_media_image.entity.uri.value %}
{% set image_url = file_url(image_uri) %}

<div id="banner-image-home" style="
    background-image: url('{{ image_url }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;"
></div>
